body {
    font-family: sans-serif;
}

img {
    width: 50%;
    /* text-align: center; */
    /* margin: auto; */
}

h1 {
    text-align: center;
}

p {
    margin-left: 60px;
}

.header-image {
    text-align: center;
}