body {
    font-family: sans-serif;
}

img {
    width: 50%;
    /* margin: 0 auto; */
    margin: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.header-image {
    text-align: center;
}

.main-content {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}